* {
  scrollbar-width: thin;
  scrollbar-color: #161618 #818181;
  scrollbar-gutter: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f1f1f1;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #f1f1f1;
}
.logo {
  text-align: left;
  align-content: center;
  list-style-type: none;
  padding-left: 16px;
  color: #f1f1f1;
  background-color: #161618;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
}

.onlinemode::after {
  content: "🔘";
  padding: 0.2rem;
  font-size: 0.7rem;
}

.statusicon {
  color: #818181;
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 30px;
}

.statusicon:hover {
  color: #f1f1f1;
  transition: 200ms all;

  .onlinemode::after {
    content: "🟢";
  }
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212124;
  overflow-x: hidden;
  padding-top: 30px;
}

.sidenav .fa {
  scale: 1;
  padding-right: 7px;
}

.tablinks {
  padding: 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav .tablinks:hover {
  color: #f1f1f1;
  border-left: 5px solid #f1f1f1;
  border-right: 5px solid #f1f1f1;
  transition: 200ms all;
}

.sidenav .tablinks.active {
  color: #f1f1f1;
  border-left: 5px solid #f1f1f1;
  border-right: 5px solid #f1f1f1;
}

.main {
  margin-left: 150px; /* Same as the width of the sidenav */
  background-color: #818181;
  font-size: 24px; /* Increased text to enable scrolling */
  padding: 40px 20px;
  text-wrap: balance;
}
/* HOME container*/
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: transparent;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #161618 none;
  scrollbar-gutter: auto;
}
/* NEW container*/
.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.flex-container > div {
  color: #f1f1f1;
  background-color: #212124;
  min-width: 28rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0rem;
  text-align: left;
  height: 21rem;
  font-size: 20px;
  border: 0px solid #161618;
  border-radius: 7px;
}

.flex-container2 > div {
  color: #f1f1f1;
  background-color: #212124;
  width: 12rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  text-align: left;
  height: 9rem;
  font-size: 20px;
  border: 0px solid #161618;
  border-radius: 7px;
}

.flex-container2 > div:hover {
  scale: 1.05;
  transition: 200ms all;
}

@media screen and (max-width: 1400px) {
}
